/*
何に
*/
h1 {
  /*
  何を: どうする; */
  color: blue;
}

h2 {
  color: red;
}

h3 {
  color: green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* h1, h2, h3, h4, h5, h6タグの文字や画像に対して、水平方向の揃え方を指定する。　今回の場合は中央揃え*/
  text-align: center;
}
