* {
  /* デフォルトのpaddingやmarginを0にする */
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}


header {
  position: relative;
  text-align: center;
  /* height: 200px; */
  height: 100vh;
  width: 100vw;
}

header img {
  /* アスペクト比を維持して要素全体に表示されるように拡大縮小。 */
  object-fit: cover;

  height: 100vh;
  width: 100%;
}

header .blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  backdrop-filter: blur(15px);
  border-radius: 20px;
  width: 70%;
  height: 200px;
}

h1.header-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}

div.main-contents {
  text-align: center;
  color: #555555;
  margin-bottom: 100px;
}

div.main-contents h2 {
  margin: 20px 0;
}

div.main-contents h2:nth-child(1) {
  margin: 50px 0 20px 0;
}

div.main-contents li {
  margin-top: 8px;
}

div.main-contents ul {
  margin-top: 8px;
}
